<div class="modal" id="mmodal-voluntario">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header id="header" class="modal-card-head">
      <p class="modal-card-title">Quer se tornar um aluno voluntário?</p>
      <button class="delete has-background-danger"></button>
    </header>

    <section class="modal-card-body">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </section>

    <footer class="modal-card-foot">
      <button class="button">Não quero</button>
      <button class="button">Quero</button>
    </footer>
  </div>
</div>

<div class="modal" id="mmodal-bolsista">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header id="header" class="modal-card-head">
      <p class="modal-card-title">Quer se tornar um aluno bolsista?</p>
      <button class="delete has-background-danger"></button>
    </header>

    <section class="modal-card-body">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </section>

    <footer class="modal-card-foot">
      <button class="button">Hey</button>
      <button class="button">YAY</button>
    </footer>
  </div>
</div>