<footer class="footer is-primary" id="site-footer">
    <div class="container">
      <div class="columns">
        <div class="column" id="footer-name">
          <strong class="title-medium">Diretoria de Relações Empresariais e Comunitárias</strong><br> 
          <ul class="gap-small-top">
            <li><a href="mailto:"><span><i class="fas fa-bug fa-fw"></i></span>Encontrou algum bug?</a></li>
            <li><a href="mailto:"><span><i class="fas fa-envelope fa-fw"></i></span>Fale conosco</a></li>
          </ul>
      </div>
      <div class="column has-text-centered" id="footer-address">
          Prolongamento da Rua Cerejeira, s/n CEP 85892-000. <br> Telefone Geral +55 (45) 3268-8800
      </div>
  </div>
</div>
</footer>